@media (min-width: 360px) and (max-width: 500px) {
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body{
  background-color: #2D2D2D;
}
main{
    width: 140%;
    height: 100%;
}
.container{
  display: flex;
  flex-direction: column;

}

header {
  background: black url(assets/header.png) center center/cover;
  height: 30vh;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.star,
.wars {
  width: 50%;
  position: relative;
}

.starWarsHeader {
  width: 100%;
  display: flex;
  gap: 5%;
}
.kylo {
  width: 60%;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  right: 28%;
  z-index: 2;
}

/* Botão embaixo da LOGO "CRIE SUA LEGIÃO" */
.legiao {
  position: absolute;
  width: 150px;
  height: 151px;
  top: 116px;
  left:260px;
}
.legiao p,
.legiao span {
  text-transform: uppercase;
}

.legiao .legion1 {
  font-weight: 400;
}
.legion2 {
  font-weight: bolder;
}
.inside {
  font-size: small;
}

header button {
  height: 17px;
  width: 17px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(167, 161, 161);
  font-weight: bold;
  transition: 0.1s;
}
header button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  transition: 0.1s;
}

/* FIM do "CRIE SUA LEGIÃO" */

/* COMEÇO DA MAIN */
.main {
  height: 100%;
  width: 100%;
  border: 1px solid red;
  background: rgb(255, 255, 255) url(assets/main-backg.png) no-repeat bottom left/contain;
}
/* CARD "COMECE A JOGAR" */
.cardVermelho {
  background: url(assets/strom-red.png) top center/contain;
  width: 274px;
  height: 401px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.cardVermelho h1 {
  width: 70%;
  color: white;
}

.cardVermelho p {
  color: white;
  font-size: 0.9em;
  font-weight: 250;
  margin: 50px auto;
}
.cardVermelho span {
  color: rgba(255, 255, 255, 0.589);
  font-size: 0.5em;
  font-weight: 100;
  margin: 10px -170px 0 0;
}
.cardVermelho button {
  padding: 10px;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  color: white;
}

.cardVermelho button:hover {
  color: #b9260b;
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
}
/* COMEÇO MAIN */
.mainPrimeiro {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto;
  padding-bottom: 150px;
  align-items: flex-end;
  justify-content: space-around;
  background: url(assets/Linha\ 2.png) no-repeat bottom center;
  background-size: 80%;
}
.sobreJogo {
  display: flex;
  gap: 25px;
  width: 100%;
  align-items: flex-end;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.sobreJogoDiv{
  width: 100%;
  background-color: white;

}
.sobreJogo h4 {
  text-transform: uppercase;
  font-weight: 520;
  height: 40px;
  text-align: right;
  font-size: 1.3rem;
  background: white url(assets/Linha\ 8.png) no-repeat bottom right;
}
.sobreJogo p {
  text-align: right;
  margin-top: 10px;
  font-size: 0.9rem;
}
.sobreJogo .p1 {
  text-align: right;
  margin-top: 0;
}
.sobreJogo img {
  width: 70vw;
  height: 25vh;
  margin-bottom: -30px;
}

.mainSegundo {
  width: 100%;
  height: 75vh;
  background: url(assets/lord\ sifh\ 2.png) no-repeat bottom left/contain;
  background-size: 70%;
}

.estruturaContainer {
  background: url(assets/rey.png) no-repeat bottom right;
  background-size: 40%;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.estruturaJogo {
  width: 40%;
  margin: auto;
}
.textoSpan {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.textoJogo {
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
}
.estruturaJogo ul {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
  list-style-type: none;
}
.estruturaJogo li {
  font-size: 1rem;
  padding: 2px;
  font-weight: 500;
}
.estruturaJogo li:hover {
  color: white;
  background-color: #d74430;
  cursor: pointer;
  transition: 0.5s;
}
.atributos{
  width: 80.8vw;
  padding-top: 50px;
  margin: auto
}
.atributos h2{
  color: white;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 900;
}

.galeria{
  display: flex;
  flex-direction: column;
  margin: 55px 0;
}
.picturePequena{
  width: 100%;
  height: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
}
.pictureGrande{
    width: 150%;
}
.pictureGrande img {
  width: 100%;

}

.picturePequena img{
    width: 100%;
}

.picture2{
  position: absolute;
  display: flex;
  width: 122%;
  height: 164%;
  flex-wrap: wrap;
}
.picture2 div{
  
  opacity: 0;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #b9260b;
}
.picture2 div:hover{
  opacity: .4;
  transition: .3s;
}
.picture2 h3{
  color: white;
}
.picture2 p{
  font-size: .7rem;
  color: white;
}
.picture2 button{
  color: white;
  background-color: transparent;
  padding: 5px 10px;
  border: 3px solid white;
}
.picture2 button:hover {
  color: #b9260b;
  background-color: white;
  cursor: pointer;
  transition: .2s;
}
.hierarquia{
display: flex;
width: 150%;
flex-direction: column;
align-items: flex-start;
gap: 30px;
}
.hierarquia img {
  width: 100%;
}
.hierarquia p {
  font-size: .85rem;
  width: 50%;
  color: white;
  text-align: end;
  font-weight: 100;
  display: inline;
  align-self: flex-end;
}
.download{
  height: 800px;
  width: 100%;
  position: relative;
}
.download img{
  height: 80%;
  position: absolute;
  top: 250px;
  left: -200px;
}

.download .divOne{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divOne h2{
color: white;
text-transform: uppercase;
font-size: 2rem;
}

.download .divTwo{
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
.download .divTwo section{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  background: url(assets/linha10.png) center bottom no-repeat;
  background-size: 30%;
  transition: 1s;
}
.download .divTwo section:hover{
  background: url(assets/linha9.png) center bottom no-repeat;
  background-size: 30%;
  transition: 1s;
  
}
.divTwo section h1{
  font-size: 2rem;
  margin-bottom: 30px;
}
.divTwo section p{
  width: 50%;
  text-align: center;
  height: 30%;
}
.divTwo section button {
  height: 50%;
  padding: 0 23px;
  background-color: #b9260b;
  border: 1px solid black;
  margin-top: 10px;
  font-size: 1.3rem;
  color: white;
  transition: 1s;

}
.divTwo section button:hover {
  color: white;
  background-color: black;
  transition: 1s;
  cursor: pointer;
}
.divTwo section div {
  width: 100%;
  text-align: center;
}
.divTwo section div:hover {
  transition: 1s;
  font-weight: 900;
}

/* Footer */
footer{
height: 300vh;
display: flex;
flex-direction: column;
border: 1px solid red;
}
footer .footerOne{
  background-color: #FF5A56;
  width: 100%;
  height: 50%;
  border: 1px solid white;
  height: 100%;
  color: white;
}
footer .footerOne p{
  width: 100%;
}
footer .footerTwo{
  background-color: white;
  width: 100%;
  height: 50%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  border: 1px solid red;
}
.botoes{
  width: 30%;
  display: flex;

}
.botoes a img{
  width: 100%;
}
.footerInside {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: left;
  justify-content: center;
  width: 90%;
  height: 50%;
  background: url(assets/linha10.png) bottom center no-repeat;
}
.footerInsideBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50%;
}
.footerInsideBottom p{
  color: white;
  font-size: 0.9rem;
}

.footerTwo img{
  width: 129%;
  bottom: 300px;
}
.footerTwo p{
  font-size: .7rem;
  width: 60%;
  margin: 0 auto;
}
}